<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/setting.css">

</head>
<body>

<div id="maindiv">
    <div id="forUser">
        <br><br>
        <span id="pagename">확진자 정보 입력</span>
        <div id="inputWrapper">
            <p>휴대전화 번호</p>
            <input type="text" id="pnum" placeholder="ex) 01022223333">
            <p>날짜</p>
            <input type="text" id="date" placeholder="ex) 2020-12-4 11:22:33">
        </div>

        <div id="btnWrapper">
            <button type="button" id="userBut" class="btn btn-info" onclick="getData()">Check!</button>
            <br><br><br><br>
        </div>
    </div>

</div>

<div id="mail">

    <div id="mailWrapper">
        <span id="mtext">Please enter an account to send mail</span>
        <br><br>
        <span class="mailData">Gmail ID</span>
        <input type="email" id="aa" placeholder="email@example.com">
        
        <span class="mailData">Password</span>
        <input type="password" id="bb" placeholder="password">

        <button type="button" id="sendbtn" class="btn btn-info" onclick="send()">Send</button>
        <button type="button" id="cancel" class="btn btn-info" onclick="cancel()">Cancel</button>
    </div>

</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/setting.js') }}"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

</body>
</html>